<li class="meal-card">
    <img src={{imageURL}} alt="topmeal" class="meal-img" />
        <div class="meal-container">
            <div class="meal-name-container">
                <div class="meal-name">{{title}}</div>
                <div class="meal-price">{{price}}</div>
            </div>
            <div class="meal-desc">
                    {{desc}}
                <div class="meal-bottom">
                    <div class="cookingmin">{{cookingTime}}</div>
                    <div class="meal-category">{{category}}</div>
                </div>
           </div>
        </div>
</li>

