

<li class="onthemenu-meal-card" onclick="window.location.href='/desc/{{title}}'" >
    <img src="/meals/{{imageURL}}" alt="onthemenu-meals" class="onthemenu-meal-img" />
        <div class="onthemenu-meal-container">
            <div class="onthemenu-meal-name-container">
                <div class="onthemenu-meal-name">{{title}}</div>
                <div class="onthemenu-meal-price">{{price}}</div>
            </div>
            <div class="onthemenu-meal-desc">
                    {{desc}}
                <div class="onthemenu-meal-bottom">
                    <div class="onthemenu-cookingmin">{{cookingTime}}</div>
                    <div class="onthemenu-meal-category">{{category}}</div>
                </div>
           </div>
        </div>
</li>

