
<section class="regpage">
    <div class="repage-img">
    <img src="/1.jpg">
    </div>
    <div class="regpage-formcontainer">
        <div class="regpage-title">Create Account</div>
        <form action="/user/reg" method="post" class="signinform" >
        <!-- first name -->
        <input id="fname"  type="text" name="fname" placeholder="First Name" value="{{value.fname}}" autofocus>
        {{#if messageValidation.fname}}
        <p id="validationMsg">{{messageValidation.fname}}</p>
        {{/if}}
        <!-- last name -->
        <input id="lname" type="text" name="lname" placeholder="Last Name" value="{{value.lname}}">
        {{#if messageValidation.lname}}
        <p id="validationMsg">{{messageValidation.lname}}</p>
        {{/if}}
        <!-- email -->
        <input id="email" type="email" name="email" placeholder="Email@abc.com" value="{{value.email}}"> 
        {{#if messageValidation.email}}
        <p id="validationMsg">{{messageValidation.email}}</p>
        {{/if}}
         <!-- password -->
        <input id="password" type="password" name="password" placeholder="Password" value="{{value.password}}">
        {{#if messageValidation.password}}
        <p id="validationMsg">{{messageValidation.password}}</p>
        {{/if}}
    

        <button id="submit" type="submit"  name="submit">Sign Up</button>
        </form>
    </div>
</section>