
<div class="inner-desc">

 


{{#if data}}

    <div class="desc_picture-wrapper">

        <img src="/meals/{{data.imageURL}}" class="desc_picture" >
        <div class="desc_picture_strip">
            <div class="desc_picture_cookingtime">
                <div class="desc_picture_contents_wrapper">
                    <div class="desc_picture_strip_title">
                            Cooking Time 
                    </div>
                    <div class="desc_picture_strip_contents">
                            {{data.cookingTime}}
                    </div>
                </div>
            </div>
            <div class="desc_picture_serving">
                    <div class="desc_picture_contents_wrapper">
                    <div class="desc_picture_strip_title">
                            Servings
                    </div>
                    <div class="desc_picture_strip_contents">
                            {{data.serving}}
                    </div>
                </div>
            
            </div>
            <div class="desc_picture_calories">
                    <div class="desc_picture_contents_wrapper">
                    <div class="desc_picture_strip_title">
                        Calories
                    </div>
                    <div class="desc_picture_strip_contents">
                        {{data.calories}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="desc_picture_contents_wrapper">
            <div class="desc_picture_title">
                {{data.title}}
            </div>

            <div class="desc_picture_desc">
                <div class="desc_included">
             {{data.included}}
                </div>
                <div class="desc_desc">
                 {{data.desc}}
                </div>
            </div>

    </div>


<div class="gotocart">
        <a href="" ><button type="button" class="gotocartbtn">Buy for {{data.price}}</button></a>
</div>







{{/if}}

</div>